.body {
    background-color: rgba(var(--bs-body-color-rgb), 1);
    color: var(--bs-secondary-bg);
}
h1 {
    color: #eeff00;
}
.col-lg-4, .col-md-6, .col-sm-12 {
    padding: 1rem;
    background-color: #eeff00;
    border: 2px solid rgba(var(--bs-body-color-rgb), 1);
    color: rgba(var(--bs-body-color-rgb), 1);
}
.fa-file {
    height: 12rem;
}

.container-fluid, .navbar-brand {
    width: 100%;
}

.container-fluid {
    justify-content: center;
}

#contact-links {
    justify-content: center;
}

.card {
    background-color: #353535;
    color: lightgrey;
    border: 3px solid black;
}

.fa-brands {
    font-size: 50px;
    
}